/* -------  General Styles ------- */
/* -- These general styles wer provided in the starter code for the assessment -- */
/* -- This code is written using a mobile first development philosophy -- */
/* -- This means that the base code is written to operate properly on a mobile device -- */
/* -- Media queries are used to add or adjust styling for larger screen sizes -- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */
/* -- The code will be using flexbox for creating a responsive website -- */
/* -- the base code will utilize a row direction of column for most flex boxes in the base design -- */

.group {
  display: flex;
  flex-direction: column;
}

/* -- One way to reduce the numer of media queries is to use the CSS clamp function -- */
/* -- The clamp function restricts a value to a minimum value, a flexible value, and a maximum value -- */
/* -- The flex basis is set to cause the images in the ideas section to be displayed in a 2x2 grid on large screens -- */

.item {
  flex: 1;
  flex-basis: clamp(0%, 40%, 40%);
  padding: 0px 10px 0px 10px;
}

.form-item {
  flex: 1;
  padding-right: clamp(2px, 3px, 5px);
  padding-left: clamp(2px, 3px, 5px);
  padding-top: 2px;
  padding-bottom: 2px;
}

.form-button {
  flex: 1;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

logo-item {
  flex: 1;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
}

/* -- We should use rem (root em) rather than pixel sizes when we can -- */
/* -- a pixel size is unchanging and this could create accessibility issues -- */
/* -- 1 rem is ususally equivalent to 16 px -- */

.logo {
  font-family: "Pangolin", cursive;
  font-size: clamp(2rem, 3rem, 4rem);
  color: #fff;
  text-align: left;
  padding-left: 5px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 0 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 10px;
  width: 120px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* --- BEGIN MJR --- */

/* -- This flex box should always be set to row -- */
/* -- This allows the navigational menu (Stay, About, Ideas, and Host) to be presented horizontally rather than vertically -- */
.group-nav {
  display: flex;
  flex-direction: row;
}

/* -- This flex box is set to row for the mobile view which aligns the label and input box horizontally -- */
.group-form {
  display: flex;
  flex-direction: row;
}

/* -- This flex box is set to row for the mobile view -- */
header nav {
  display:flex;
  flex-direction: row;
}

header nav ul {
  display:flex;
  flex-direction: row;
  flex-flow: row;
}

/* -- This flex box controls section 1 (the logo and nav menu) -- */
/* -- It is set to stack the logo over the menu in the mobile view -- */
.group-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -- This flex box controls section 2 (the stay section which is the form) -- */
/* -- It is set to stack the logo over the menu in the mobile view -- */
.group-section2 {
  display: flex;
  flex-direction: column;
}

/* -- This flex box controls section 3 (the about section) -- */
/* -- It is set to stack the images vertically in the mobile view -- */
.group-section3 {
  display: flex;
  flex-direction: column;
}

/* -- This flex box controls section 4 (the ideas section) -- */
/* -- It is set to stack the information vertically in the mobile view -- */
.group-section4 {
  display: flex;
  flex-direction: column;
}

/* -- This flex box controls section 5 (the host section) -- */
/* -- It is set to stack the images vertically in the mobile view -- */
.group-section5 {
  display: flex;
  flex-direction: column;
}

/* --- END MJR --- */

/* -------  Media Query ------- */

/* -- This media query overrides the base styles (set for the mobile view) for a larger screen -- */
@media screen and (min-width: 480px) {

	form select,
	form input {
	  width: 60px;
	}

	form button {
	  width: 60px;
	  font-size: 12px;
	}

	header {
	  padding: 0px 0px 0px 0px;
	  text-align: right;
	}

	idea-image {
	  max-width: 50%;
	}

	.group-section1 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section2 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section3 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

/* -- This flex box overrides section 4 (the ideas section) -- */
/* -- It is set to stack the images as a 2x2 grid in the mobile view -- */
	.group-section4 {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}

	.group-section5 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

	.group-form {
	  display: flex;
	  flex-direction: column;
	}
}


@media screen and (min-width: 550px) and (max-width: 650px) {

	form select,
	form input {
	  width: 85px;
	}

	form button {
	  width: 85px;
	  font-size: 16px;
	}

	header {
	  padding: 0px 0px 0px 0px;
	  text-align: right;
	}

	idea-image {
	  max-width: 50%;
	}

	.group-section1 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section2 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section3 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

/* -- This flex box overrides section 4 (the ideas section) -- */
/* -- It is set to stack the images as a 2x2 grid in the mobile view -- */
	.group-section4 {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}

	.group-section5 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

	.group-form {
	  display: flex;
	  flex-direction: column;
	}
}

@media screen and (min-width: 651px) and (max-width: 900px) {

	form select,
	form input {
	  width: 100px;
	}

	form button {
	  width: 100px;
	  font-size: 20px;
	}

	header {
	  padding: 0px 0px 0px 0px;
	  text-align: right;
	}

	idea-image {
	  max-width: 50%;
	}

	.group-section1 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section2 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section3 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

/* -- This flex box overrides section 4 (the ideas section) -- */
/* -- It is set to stack the images as a 2x2 grid in the mobile view -- */
	.group-section4 {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}

	.group-section5 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

	.group-form {
	  display: flex;
	  flex-direction: column;
	}
}

@media screen and (min-width: 901px) and (max-width: 4000px) {

	form select,
	form input {
	  width: 150px;
	}

	form button {
	  width: 150px;
	  font-size: 24px;
	}

	header {
	  padding: 0px 0px 0px 0px;
	  text-align: right;
	}

	idea-image {
	  max-width: 50%;
	}

	.group-section1 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section2 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section3 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

/* -- This flex box overrides section 4 (the ideas section) -- */
/* -- It is set to stack the images as a 2x2 grid in the mobile view -- */
	.group-section4 {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}

	.group-section5 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

	.group-form {
	  display: flex;
	  flex-direction: column;
	}
}
