/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  min-width:300px;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: clamp(2rem, 3rem, 4rem);
  color: #fff;
  text-align: left;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: clamp(100px, 140px, 180px);
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* --- BEGIN MJR --- */

.group-nav {
  display: flex;
  flex-direction: row;
}

.group-form {
  display: flex;
  flex-direction: row;
}

header nav {
  display:flex;
  flex-direction: row;
}

header nav ul {
  display:flex;
  flex-direction: row;
  flex-flow: row;
}

.group-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-section2 {
  display: flex;
  flex-direction: column;
}

.group-section3 {
  display: flex;
  flex-direction: column;
}

.group-section4 {
  display: flex;
  flex-direction: column;
}

.group-section5 {
  display: flex;
  flex-direction: column;
}

/* --- END MJR --- */

/* -------  Media Query ------- */

@media all and (min-width: 600px) {

	header {
	  padding: 0px 0px 0px 0px;
	  text-align: right;
	}

	idea-image {
	  max-width: 50%;
	}

	.group-section1 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section2 {
	  display: flex;
	  flex-direction: row;
	}

	.group-section3 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

	.group-section4 {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}

	.group-section5 {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	}

	.group-form {
	  display: flex;
	  flex-direction: column;
	}
}

